@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-400.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/roboto-400.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-italic.ttf");
}



body {
    font-family: "Roboto";
    opacity: 80%;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 247, 249) ;
}


.body-container {
    display: flex;
    gap: 40px;
}

.content {
    display: flex;
    background-color: white;
    flex-direction: column;
    margin-right: 40px;
}

/* Навигацонная панель */

.navigation-bar {
    margin: 20px 0;
}

.navigation-link {
    color: inherit;
    text-decoration: none;
}

.search-form {
    display: flex;
    width: 450px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    transition: all 0.2s ease;
    outline: none;
    background-color: rgb(237, 237, 237);
    padding: 0 15px 0 20px;
}

.search-form button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.search-input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    background-color: transparent;
}

.search-form:hover {
  border-color: #bdbdbd; /* немного темнее при наведении */
}


/* конец - Навигацонная панель */



.post-author {
    display: flex;
    flex-direction: column;
}

.post-author-username {
    font-weight: bold;
    margin: 0;
}

.post-author-rank  {
    color: #484848;
    font-size: x-small;
    margin: 0;
}



.user-rank {
    color: aliceblue;
    font-size: smaller;
}

.user-date-joined {
    color: aliceblue;
    font-size: x-small;   
}

.user-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.user-meta p {
    margin: 0;
    padding: 0;
}

.post-likes {
    margin: 0;
}

.button {
    cursor: pointer;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.button-main-nav {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    font-weight: bold;
}

.button-main-nav:hover {
    color: white;
    background-color: #282828;
}

/* ПОСТ */

.post {
    border: 1px solid #acaaaa;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.post:hover {
    border: 1px solid #585858;
    transform: scale(1.01);
    transition: transform 0.5s;
    
}

.post-header-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-header {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    justify-content: space-between;

}

.post-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.post-body p {
    margin: 0;
    padding: 0;
}

.post-body span {
    margin: 0;
    font-weight: lighter;
    font-size: 12px;
    color: #484848;
    padding: 0;
}

.post-footer {
    display: flex;
    flex-direction: column;
}

.post-date {
    color: #666666;
    font-size: small;
}

.post-date-published {
    margin: 0;
}

.post-stats {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-stats-item {
    display: flex;
    margin-right: 10px;
}

.post-stats-item p {
    margin: 0;
}

.post-stats-item-icon {
    width: 16px;
    height: 16px;
}

.post-stats-item button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}


.post-stats-item button:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(1000%) hue-rotate(180deg);
}

.like.active {
    filter: brightness(50%) saturate(100%) invert(30%) sepia(100%) saturate(1000%) hue-rotate(-90deg);
}

.like-comment.active {
    filter: brightness(50%) saturate(100%) invert(30%) sepia(100%) saturate(1000%) hue-rotate(-90deg);
}

.post-column {
    display: flex;
    flex-direction: column;
}

.post-row {
    display: flex;
    flex-direction: row;
}

.post-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
    margin-top: 25px;
}

.post-comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-header {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
}

.comment-author {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment-author-username {
    font-weight: bold;
    margin: 0;
}

.comment-author-rank {
    color: #484848;
    font-size: x-small;
    margin: 0;
}

.comment-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.comment-item {
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;

}

.comment-body {
    margin: 0 10px;
    padding: 0 10px;
}

.comment-date {
    color: #666666;
    font-size: small;
    font-style: italic;
}

.comment-date p {
    margin: 0;
    padding: 0;
}

.comments-block {
    display: none;
    flex-direction: column;
    margin: 10px 10px;
}

.comments-block.expanded {
    display: flex;
}

.comment-reaction-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.comment-reaction-item {
    display: flex;
    align-items: center;
    margin-right: 7px;
    padding: 0;
}
.comment-reaction-item p {
    margin: 0;
    padding: 0;
}

.comment-reaction-item button {
    max-width: 16px;
    max-height: 16px;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.post-stats-item-icon {
    max-width: 16px;
    max-height: 16px;
    padding: 0;
    margin-right: 5px;
}

.post-author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-author-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
}



.comment-header-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.add-comment-form {
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.add-comment-form input {
    padding: 0;
    margin: 0;
    border: none;
    padding-left: 10px;
    flex-grow: 1;
    outline: none;
}

.add-comment-form button {
    width: 40px;
    height: 30px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}



.main-container {
    display: flex;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-menu {
    display: flex;
    list-style-type: none;
}

.navigation-menu-item {
    margin: 0 5px;
}



.tag-panel {
    /* background-color: rgb(37, 37, 37); */
    /* padding: 5px; */
}

.tags-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.tag {
    padding: 5px;
    margin: 0 5px;
    border: 1px solid;
    background-color: white;
    border-radius: 5px;
}

.tag:hover {
    color: coral;
}

.categories-panel {
    border: 1px solid;
}


/* Боковое меню */
.sidebar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100vh;
    position: sticky;
    top: 0;
    border: none;
    /* border-right: 1px solid rgb(205, 204, 204); */
    box-sizing: border-box;
    flex-shrink: 0;
}

.sidebar-navigation {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 5px;
    position: sticky;
    top: 20px;
}

.sidebar-navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
}

.sidebar-icon:hover {
    transform: scale(1.2);
    display: inline-block;
    overflow: hidden;
}

.sidebar-navigation-item p {
    margin: 0;
}

/* Пользовательское меню */
.usernav-list {
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    gap: 5px;
    justify-content: center;
    /* border: 1px solid rgb(199, 199, 199); */

}

.usernav-item {
    padding: 5px;
}

.usernav-item:hover {
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: #a6a6a6;
    text-decoration-thickness: 2px;
}

.usernav-item.active {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: #5c5c5c;
    text-decoration-thickness: 2px;
}

.usernav-link {
    text-decoration: none;
    color: inherit;
}


/* Аккаунт */
.account-header {
    display: flex;
    background-color: #0c0c0c;
    border-radius: 5px;
    padding: 50px;
    gap: 15px;
    margin-bottom: 10px;
}

.account-header button {
    filter: invert(1);
}

.account-header-meta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.account-header-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.account-header-user-date-joined  {
    color: aliceblue;
    font-size: 12px;
}

.account-header-user-following {
    color: aliceblue;
    font-size: 12px;
}

.account-header-user-followers {
    color: aliceblue;
    font-size: 12px;
}

.account-header-user-rank {
    color: aliceblue;
    font-size: 12px;
}

.account-header-user-date-posts {
    color: aliceblue;
    font-size: 12px;
}

.account-header-user-username {
    color: aliceblue;
    font-size: 21px;
    font-weight: bold;
}

.account-header-follow {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 7px;
}


.account-header-interactions {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

.account-header-interactions-item {
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 10px 5px;
}
