<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"">
        <li class="nav-item">
          <a class="nav-link active" href="{% url "posts:home" %}">Главная</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url "users:logout" %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url "users:login" %}">Войти</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>