{% load static %}
<nav class="navigation-bar main-navigation-bar">
  <div class="navigation main-navigation">
    <div class="navigation-item">
      <span class="navigation-elem logo">VarChar</span>
    </div>
    <div class="navigation-item">
      <form action="." class="search-form" method="get">
        <input class="search-input" type="search" placeholder="Поиск...">
        <button class="search-button button" type="submit">
          <img src="{% static "svg/search.svg" %}" alt="">
        </button>
      </form>
    </div>
    <div class="navigation-item">
      <ul class="navigation-menu">
        <li class="navigation-menu-item">
          <a href="" class="navigation-link">Прайс</a>
        </li>
        <li class="navigation-menu-item">
          <a href="" class="navigation-link">Войти</a>
        </li>
      </ul>
    </div>
  </ul>
</nav>