{% extends "base.html" %}
{% load form_tags %}

{% block title %}
<title>Регистрация</title>
{% endblock title %}

{% block content %}
<form action="." method="post">
  <fieldset class="signup-form-fieldset">
    <legend>Регистрация</legend>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="signup-form-list">
      {% for field in form %}
      <li class="signup-form-item {{ field.name }}">
        {{ field.label }}
        {{ field }}
        {{ field.errors }}
      </li>
      {% endfor %}
    </ul>
  </fieldset>
  <button class="button button-submit">Зарегистрироваться</button>
</form>
{% endblock content %}