{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="{% static "css/styles.css" %}" rel="stylesheet">
  {% block title %}
  {% endblock title %}
</head>

<body>
  <div class="container">
    {% include "includes/sidebar.html" %}

    <div class="container-column">
      <header>
        {% include "includes/nav.html" %}
      </header>
      
      <main>
        {% include "includes/tagbar.html" %}
        <div class="main-container">

        {% block content %}
        {% endblock content %}
        </div>
      </main>
    </div>
  </div>
</body>

<script src="{% static "js/posts.js" %}"></script>
</html>