{% extends "base.html" %}

{% block title %}
<title>Главная</title>
{% endblock title %}

{% block content %}
  {% for post in posts %}
  {% comment %} Карточка с постом {% endcomment %}
    <div class="mt-4 d-flex justify-content-center">
      <div class="d-flex card card-small mb-3 post-item" style="width: 360px;">

        <!-- Автор поста -->
        <div class="d-flex align-items-center mx-3 mt-3 mb-0">
          <div class="me-2">
            <img 
            src="{{ post.author.photo.url }}" 
            alt="Аватар {{ post.author }}" 
            class="rounded-circle" 
            style="width: 50px; height: 50px; object-fit: cover;"
            >
          </div>
          <div class="d-flex flex-column">
            <p class="card-text mb-0"><strong class="text-muted">{{ post.author }}</strong></p>
            <small class="text-muted">{{ post.updated_at|date:"D H:m" }}</small>
          </div>
        </div>

          <!-- Картинка поста -->
          {% if post.pic %}
            <img src="{{ post.pic.url }}" class="w-100 my-3" style="object-fit: cover; height: 100%;" alt="Картинка к посту {{ post.title }}">
          {% endif %}

          <!-- Тело поста -->
          <div class="d-flex">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url "posts:post_detail" post.id %}" class="link-underline-opacity-0 link-dark">{{ post.title }}</a>
              </h5>
              <p class="card-text">{{ post.text }}</p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="{% url "posts:post_detail" post.id %}" class="link-underline-opacity-0 link-secondary">Обновлено: {{ post.updated_at|date:"j E o H:i:s" }}</a>
                </small>
              </p>
            </div>
          </div>

          <!-- Комментарии -->
           <section class="comments">
            <div class="d-flex align-items-center justify-content-center">
              <h6>Комментарии</h6>
            </div>

            <!-- Форма добавления комментария -->
            <form action="{% url "posts:create_comment" post.id %}?next={{ request.path }}" method="post">
              {% csrf_token %}
              <div class="d-flex mx-3 mt-3 my-3 justify-content-center align-items-center">
                <img 
                src="{{ user.photo.url }}"
                class="rounded-circle me-1" 
                style="width: 50px; height: 50px; object-fit: cover;"
                >
                <input type="text" class="form-control" name="text" placeholder="Напишите комментарий...">  
              </div>
            </form>
            
            <!-- Список комментариев -->
            {% for comment in post.comments.all %}
            <div class="my-3 card m-3">
              <div class="d-flex flex-column p-3">
                <!-- Автор комментария -->
                <div class="d-flex justify-content-between align-items-center w-100">
                  <div class="d-flex align-items-center">
                    <img src="{{ comment.author.photo.url }}" width="40" height="40" class="rounded-circle mr-3 me-3">
                    <span class="mr-2">{{ comment.author }}</span>
                  </div>
                  <small class="text-muted">{{ comment.updated_at|date:"D H:m" }}</small>
                </div>
                <!-- Текст комментария -->
                <div class="mt-3">
                  <p class="text-justify comment-text mb-0">{{ comment.text }}</p>
                </div>
              </div>  
            </div>  
            {% endfor %}
           </section>
      </div>
    </div>

  {% endfor %}
{% endblock content %}